*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

button {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 3px;
    font-weight: bolder;
}

.container {
    margin: 100px 50px 100px 50px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.showNumber {
    height: 50px;
    width: max-content;
    border: 1px solid black;
    font-size: 35px;
    margin-bottom: 20px;
}

.batteryCharge {
    border: 2px solid black;
    height: 40px;
    width: 50%;
    margin: auto;
    background-color: lightgrey;
    margin-bottom: 20px;
}

.batteryColor {
    height: 34px;
    background-color: grey;
    width: 0%;
    margin-top: 1px;
}